<form action=/rooms/<%= @id %> method="post">
  <label for="description">Describe new room here:</label>
  <input type="text" name="description" class="form_control">
  <button type="submit" class="btn">Finish!</button>
</form>
